*{
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
}

body{
    background-image: url('imgs/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}