*{
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
}

body{
    background-image: url('imgs/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item1{
    width: 245px;
    border: 1px solid #1E2D69;
    border-radius: 0.5rem;
    border-top-right-radius: 4rem;
    padding: 2rem;
    background-color: #1E2D69;
}

.logo{
    width: 7rem;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.icon{
    height: 1.2rem;
}