*{
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
}

body{
    background-image: url('imgs/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.item-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item1{
    width: 305px;
    border: 1px solid #1E2D69;
    border-radius: 0.5rem;
    border-top-right-radius: 4rem;
    padding: 2rem;
    background-color: #1E2D69;
    margin-bottom: 2rem;
}

.logo{
    width: 7rem;
}

.icons{
    display: flex;
    flex-direction: row;
   
    align-items: baseline;
    margin-top: 1rem;
}

.icon{
    
    height: 1.2rem;
}

.icon-holder{
    background-color:#0C122C ;
    padding: 0.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.item2{
    width: 305px;
    border: 1px solid #1E2D69;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #1E2D69;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 4rem;
}

.thin-white{
    color: #DBD9FF;
    font-size: 0.8rem;
    text-align: center;
}

.thick{
    font-weight: bold;
    color:#DBD9FF;
    font-size: 0.8rem;
}

.memory{
    background-color: #0C122C;
    height: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    position: relative;
    width: 90%;
}

.white_circle{
    background-color: #fff;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%; 
}

#used{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 75%;
    background: rgb(10,231,9);
    background: linear-gradient(90deg, rgba(10,231,9,0.8687850140056023) 8%, rgba(197,236,10,1) 31%, rgba(255,48,12,0.9864320728291317) 80%);
    border-radius: 1rem;
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
    
  
}

.gb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    width: 90%;
}

.whitecube{
    padding: 1rem;
    background-color: #fff;
    width: 200px;
    text-align: center;
    border-radius: 1rem;
  position: absolute;
  top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.big{
    font-size: 3rem;
    font-weight: bold;
}

.small{
    color: grey;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.large{
    display: none;
}

.arrow-left{
    display: none;
}

@media screen and (min-width: 768px){

    body{
        /* background-image: url('imgs/bg-desktop.png');
        background-position: center;
        background-size: cover;
       background-position: bottom; */
    background-image: none;
       background-color: #0C122C;
       
        
    }

    #content{
       margin-top: 0rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 700px;
      
        
    }

    .item-holder{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

   

    .item2{
        width: 500px;
        align-items: flex-start;
       top: 1rem;
       margin-left: 2rem;
       padding-bottom: 1.9rem;
      
    }

    .whitecube{
        
      top: -4rem;
      right: 1.5rem;
     
    }
    .arrow-left {
        width: 0; 
        height: 0; 
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent; 
        display: block;
        border-right:30px solid #fff; 
        position: absolute;
        top: -1rem;
        right: 1.5rem;
      }

      .large{
          display: block;
          width: 100%;
          align-self: flex-end;
      }

    

    
}



